In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

# Load the dataset
data = pd.read_csv('E:heart_cleveland_upload.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [3]:
# Split the dataset into features (X) and target variable (y)
X = data.drop('age', axis=1)
y = data['condition']

In [4]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Train a Multi-layer Perceptron (MLP) using backpropagation algorithm
classifier = MLPClassifier(hidden_layer_sizes=(100,), max_iter=1000, random_state=42)
classifier.fit(X_train, y_train)

MLPClassifier(max_iter=1000, random_state=42)

In [6]:
# Make predictions on the test set
y_pred = classifier.predict(X_test)

In [7]:
# Display the classifier output
print("Classifier Output:")
print(y_pred)

Classifier Output:
[1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1 0 1 1 0 0 0 1 1 1 0 1 0 1 0 0 1 1 0
 0 0 0 0 1 0 0 1 1 0 1 0 0 1 1 1 0 1 1 0 1 0 1]

In [8]:
# Display the detailed accuracy by class
print("\nDetailed Accuracy by Class:")
print(classification_report(y_test, y_pred))

Detailed Accuracy by Class:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        32
           1       1.00      1.00      1.00        28

    accuracy                           1.00        60
   macro avg       1.00      1.00      1.00        60
weighted avg       1.00      1.00      1.00        60

In [9]:
# Calculate and display the overall accuracy
accuracy = accuracy_score(y_test, y_pred)
print("\nOverall Accuracy: {:.2f}%".format(accuracy * 100))

Overall Accuracy: 100.00%

In [10]:

# Display the confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Confusion Matrix:
[[32  0]
 [ 0 28]]

In [ ]:
Code uses the MLPClassifier from scikit-learn 
to train a Multi-layer Perceptron (MLP) using the backpropagation algorithm.
The train_test_split function is used to split the data into training and testing sets.
The classification_report function computes the detailed accuracy by class, 
and the accuracy_score function calculates the overall accuracy. 
The confusion_matrix function generates the confusion matrix.